<body>
    <center>
        <img src="{{ href }}" height=600 /> <!-- static/baseimage.svg -->
        <form method="POST">
            <label>Input a comma-separated list of features (13)</label>
            <input name="text"style="height:30px; width:500px;">
            <input type="submit">
        </form>
    </center>

    <h2>Variable Descriptions for Boston Housing Data set</h2>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-color: #ccc;
            border-spacing: 0;
            border-style: solid;
            border-width: 1px;
        }

        .tg td {
            background-color: #fff;
            border-color: #ccc;
            border-style: solid;
            border-width: 0px;
            color: #333;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            background-color: #f0f0f0;
            border-color: #ccc;
            border-style: solid;
            border-width: 0px;
            color: #333;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-1wig {
            font-weight: bold;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-if4e {
            background-color: #f9f9f9;
            border-color: inherit;
            font-weight: bold;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-buh4 {
            background-color: #f9f9f9;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-txu4 {
            background-color: #f9f9f9;
            border-color: inherit;
            font-style: italic;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-3o7t {
            background-color: #f9f9f9;
            font-style: italic;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-fymr {
            border-color: inherit;
            font-weight: bold;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-f8tv {
            border-color: inherit;
            font-style: italic;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-btxf {
            background-color: #f9f9f9;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-8zwo {
            font-style: italic;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }

        .tg .tg-797t {
            background-color: #f9f9f9;
            font-weight: bold;
            text-align: left;
            vertical-align: top
        }
    </style>
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-fymr">Variable Name</th>
                <th class="tg-fymr">Variable Description</th>
                <th class="tg-fymr">Variable Type</th>
                <th class="tg-fymr">Variable Range</th>
                <th class="tg-fymr">Example Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="tg-fymr">CRIM</th>
                <th class="tg-f8tv">per capita crime rate by town</th>
                <th class="tg-0pky">Continuous</th>
                <th class="tg-0pky">0.006320</th>
                <th class="tg-0pky">88.976200</th>
            </tr>
            <tr>
                <td class="tg-if4e">ZN</td>
                <td class="tg-txu4">proportion of residential land zoned for lots over 25,000 sq.ft.</td>
                <td class="tg-btxf">Continuous</td>
                <td class="tg-btxf"></td>
                <td class="tg-btxf"></td>
            </tr>
            <tr>
                <td class="tg-fymr">INDUS</td>
                <td class="tg-f8tv">proportion of non-retail business acres per town</td>
                <td class="tg-0pky">Continuous</td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
            </tr>
            <tr>
                <td class="tg-if4e">CHAS</td>
                <td class="tg-txu4">Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)</td>
                <td class="tg-btxf">Binary</td>
                <td class="tg-btxf"></td>
                <td class="tg-btxf"></td>
            </tr>
            <tr>
                <td class="tg-fymr">NOX</td>
                <td class="tg-f8tv">nitric oxides concentration (parts per 10 million)</td>
                <td class="tg-0pky">Continuous</td>
                <td class="tg-0pky"></td>
                <td class="tg-0pky"></td>
            </tr>
            <tr>
                <td class="tg-if4e">RM</td>
                <td class="tg-txu4">average number of rooms per dwelling</td>
                <td class="tg-btxf">Continuous</td>
                <td class="tg-btxf"></td>
                <td class="tg-btxf"></td>
            </tr>
            <tr>
                <td class="tg-1wig">AGE</td>
                <td class="tg-8zwo">proportion of owner-occupied units built prior to 1940</td>
                <td class="tg-0lax">Continuous</td>
                <td class="tg-0lax"></td>
                <td class="tg-0lax"></td>
            </tr>
            <tr>
                <td class="tg-797t">DIS</td>
                <td class="tg-3o7t">weighted distances to five Boston employment centres</td>
                <td class="tg-buh4">Continuous</td>
                <td class="tg-buh4"></td>
                <td class="tg-buh4"></td>
            </tr>
            <tr>
                <td class="tg-1wig">RAD</td>
                <td class="tg-8zwo">index of accessibility to radial highways</td>
                <td class="tg-0lax">Continuous</td>
                <td class="tg-0lax"></td>
                <td class="tg-0lax"></td>
            </tr>
            <tr>
                <td class="tg-797t">TAX</td>
                <td class="tg-3o7t">full-value property-tax rate per $10,000</td>
                <td class="tg-buh4">Continuous</td>
                <td class="tg-buh4"></td>
                <td class="tg-buh4"></td>
            </tr>
            <tr>
                <td class="tg-1wig">PTRATIO</td>
                <td class="tg-8zwo">pupil-teacher ratio by town</td>
                <td class="tg-0lax">Continuous</td>
                <td class="tg-0lax">12.60 - 22.00</td>
                <td class="tg-0lax">3.685</td>
            </tr>
            <tr>
                <td class="tg-797t">B</td>
                <td class="tg-3o7t">1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town</td>
                <td class="tg-0lax">Continuous</td>
                <td class="tg-0lax">0.32 - 396.90</td>
                <td class="tg-0lax">123.5</td>
            </tr>
            <tr>
                <td class="tg-1wig">LSTAT</td>
                <td class="tg-0lax">% lower status of the population</td>
                <td class="tg-buh4">Continuous</td>
                <td class="tg-buh4">1.73 - 37.97</td>
                <td class="tg-buh4">16.36</td>
            </tr>
        </tbody>
    </table>

</body>>